@import './variables.css';
/*GENERAL*/

body,
html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    color: var(--general-text-color);
    line-height: 1.5;
    font-weight: 300;
    background-color :#fff;
    background :url(../img/bg.jpg) no-repeat center center / cover;
}
* {
    box-sizing: border-box;
}
#root{
    max-width: 768px;
    margin: 0 auto;
    position: relative;
}
section {
    width: 100vw;
    height: 100vh;
}
.container {
    max-width: 100%;
    padding: 2rem;
    margin: 0 auto;
    max-height: 100%;
}
.hide {
    display: none !important;
}
.active {
    display: block;
}
.btn {
    display: flex;
    align-items: center;
}
#startQuizBtn,.category__button{
    height:80px;
    width: 240px;
    padding:16px;
    margin: 0 auto;

    opacity: 90%;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
#startQuizBtn:hover, .category__button:hover{
    opacity: 100%;
}
#startQuizBtn{
    background-color: #2d2e83;
    color: #fff;
}
.category__button{
    background-color:#fff ;
    color: #2d2e83;
    position: absolute;
    bottom:32px;
}


.message,.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2e83;
    opacity: 80%;
}

.message p {
    font-size: 1.5em;
    text-align: center;
    color:#fff;
}
.message ul {
    list-style: square;
    margin: 0;
    padding: 0;
    padding-left: 1.2em;
    font-size: 1.2em;
    color: #fff;
}
.message ul > * {
    margin-bottom: .5em;
    width:98%;
}
.message span {
    font-weight: 700;
}
.btn_wrapper {
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2.5em;
}
.prev,.next, .button__next, .button__stop{
    height:60px;
    width: 130px;
    padding:16px;
    background-color: #fff;
    opacity: 95%;
    outline: none;
    border: none;
    color: #2d2e83;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
.prev:hover,.next:hover{
    opacity: 100%;
}
.choice {
    flex-wrap: wrap;
    text-align: left;
    align-items: flex-start;
    flex-direction: row;
    color: #fff;
}
.choice > .level, .number {
    width: 100%;
}
.choice label {
    font-size: 1.2em;
    margin-right: 24px;
}
.choice input{
    margin-right: 8px;
}
.choice .number{
    margin-top: -160px !important;
}
.choice .category{
    margin-top: -160px;
}

.level p,
.number p,
.category p {
    font-size: 1.2em;
}
.category {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}
.category select {
    width: 100%;
    border: none;
    padding: 1em;
    outline: none;
    background-color: #fff;
    cursor:pointer;
	color:#2d2e83;
}
@media(min-width: 39.5em) {
    .category > * {
       width: 100%;
    }
}
.category button {
    width: 10em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.questions{
    max-width: 768px;
    background-color: #2d2e83;
    opacity: 80%;
    margin: 0;
}
.question{
    width: 100%;
    color: #fff;
    padding: 128px 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}
.question p{
    text-align: center;
    font-weight: 500;
    width:95%;
    margin-bottom: 32px;
}
.question input{
    margin-bottom: 8px;
}
.question label{
    margin-bottom: 32px;
}
.button__next{
    position:absolute;
    bottom: 0;
    right: 0;
}
.button__stop{
    position: absolute;
    bottom: 0;
    left: 0;
}
.timer, .current_question{

    background-color: #fff;
    opacity: 95%;
    outline: none;
    border: none;
    color: #2d2e83;
    font-weight: 400;

    transition: all 0.3s ease-in-out;
    text-align: center;
    position: absolute;
    top: 0;

}
.timer{
    height:80px;
    width: 80px;
    right: 0;
    font-size: 32px;
    padding:16px;
}
.current_question{
    padding:20px;
    height:80px;
    width: 160px;
    left: 0;
    font-size: 24px;
}